@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:ital,wght@0,400;1,100;1,300&family=Roboto+Mono:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{font-size: 2.8rem;}
h2{font-size: 2.1rem;}
h3{font-size: 1.6rem;}
p{font-size: 1.2rem;}
a{text-decoration: none;}
ul{list-style: none;}

.btn__vmas{
    background-color: rgb(255, 143, 15);
    color: white;
    padding: 8px 25px;
    font-size: 18px;
    border-radius: 5px;
}

.btn__vmas:hover{
    background-color: rgb(255, 169, 71);
}

.galeria__btn{
    background-color: blueviolet;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}

.galeria__btn:hover{
    background-color: rgb(163, 106, 218);
}

.a__nav{
    color: white;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

header{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo{
    font-family: 'Roboto', sans-serif;
    padding: 7px 0;
}

.logo a{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.header__nav ul{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.header__nav a{
    font-size: 1.2rem;
}

.nosotros__btn{
    color: rgb(77, 168, 253);
}

.hero{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-negocio-abstracto-moderno-coloridas-formas-degradadas_1361-3354.jpg?w=2000);
    background-position: center;
    background-size: cover;
}

.hero__container{
    width: 80%;
    margin: 0 auto;
    padding: 65px 0px;
}

.hero__text{
    color: white;
    text-transform: uppercase;
}

/* Seccion camara */

.camara__container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.camara__container img{
    width: 280px;
    margin-top: 30px;
}

.camara__title{
    text-transform: uppercase;
}

.camara__paragraph{
    padding-bottom: 20px;
}

/* Seccion lentes */

.lentes{
    background-color: black;
    color: white;

}

.lentes__title{
    text-transform: uppercase;
    padding-top: 20px;
}

.lentes__container{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.lentes__img{
    width: 180px;
    height: 180px;
    border-radius: 250px;
}

.lentes__cartas{
    background-color: rgb(14, 14, 14);
    border-radius: 15px;
    margin: 15px 0px;
    padding: 20px 0px;
}

.lentes__paragraph{
    padding: 10px 5px 30px 5px;
}

/* seccion galería */

.galeria{
    background-image: url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000);
    background-position: center;
    background-size: cover;
}

.galeria__container{
    width: 85%;
    margin: 0 auto;
    padding: 50px 0px;
}

.galeria__text{
    text-transform: uppercase;
    color: white;
}

.galeria__btn{
    margin-top: 30px;
}

/* seccion accesorios */

.accesorios__container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accesorios__title{
    padding: 15px 0;
}

.accesorios__paragraph{
    padding-bottom: 20px;
}

.accesorios__img{
    width: 280px;
    margin: 30px 0;
}

/* seccion nosotros */

.nosotros{
    background-color: black;
    color: white;
}

.nosotros__container{
    width: 85%;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nosotros__title{
    padding: 15px 0px;
}

.nosotros__paragraph{
    padding-bottom: 20px;
}

.nosotros__img{
    width: 280px;
    margin: 30px 0px;
}

/* seccion datos */

.datos__container{
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1, 1fr;
}

.datos__title{
    padding-top: 20px;
}

.datos__cartas p{
    line-height: 40px;
}

.datos__cartas{
    padding: 30px 5px;
    border-bottom: 1px solid black;
}

.item-3{
    border: none;
}


/* seccion footer */

.footer{
    background-color: black;
    color: white;
    /* padding: 15px 0; */
    border-top: 5px solid yellow;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__copy{
    margin: 15px;
}

.footer__icons{
    /* margin: 0px 10px 0px 10px; */
    padding: 15px;
    margin: 0px 10px;
    border-bottom: 1px solid white;
}

.footer__img{
    width: 36px;
    margin: 0px 10px;
}

.locales__hero{
    background-image: ;
}

@media (min-width: 768px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo{
        padding-left: 30px;
    }

    .header__nav{
        padding-right: 10px;
        padding-top: 20px;
    }

    .header__nav a{
        padding-right: 30px;
    }

    .camara__container{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px 0px 40px 0px;
    }

    .camara__text{
        margin-left: 30px;
    }

    .camara__container img{
        width: 300px;
        padding-right: 20px;
    }

    .lentes__container{
        grid-template-columns: repeat(3, 1fr);
        width: 95%;
    }

    .lentes__cartas{
        margin: 20px 10px;
    }

    .galeria__container{
        margin: 0 auto;
        padding: 90px 0px;
    }

    .accesorios__container{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0px 40px 0px;
    }

    .accesorios__text{
        margin-right: 30px;
    }

    .accesorios__container img{
        width: 300px;
        padding-left: 20px;}

    .nosotros__container{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px 0px 40px 0px;

    }

    .nosotros__text{
        margin-left: 30px;
    }

    .nosotros__container img{
        width: 300px;
        padding-right: 20px;
    }

    .datos__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1, 1fr;
        width: 100%;
    }

    .datos__cartas{
        margin: 20px 0px;
        padding: 0px 5px;
    }

    .item-1{
        border-bottom: none;
    }
    .item-2{
        border-bottom: none;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .footer__container{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .footer__icons{
        border-bottom: none;
    }

    .footer__copy{
        margin-left: 50px;
    }
}

@media (min-width: 1024px){
    .header__nav a{
        padding: 20px 40px 21px 40px;
    }
    
    .header__nav a:hover{
        background-color: rgb(25, 26, 26);
    }

    .logo{
        padding-left: 50px;
    }

    .hero__container{
        padding: 220px 0px;
    }

    .camara__container img{
        width: 500px;
    }

    .lentes__cartas{
        padding: 40px 20px 40px 20px;
        margin: 40px 20px 50px 20px;
    }

    .lentes__img{
        width: 200px;
        height: 200px;
    }

    .lentes__title{
        padding-top: 40px;
    }

    .galeria__container{
        padding: 180px;
    }

    .accesorios__container img{
        width: 500px;
    }

    .nosotros__container img{
        width: 500px;
    }

    .datos__title{
        margin-top: 20px
    }

    .datos__cartas{
        margin: 40px 0px;
    }
}






